* {

}

html {
    background-color: white;
}

.jumbotron {
    padding: 25em;
    text-align: center;
    align-items: center;
}

h1.welcome {
    color: white;
}
#userreviews {
    padding-top: 25px;
    align-items: center;
    text-align: center;
    background-color: #F6F2F1;
}
