/* DEVELOPER Kapila Mane, IS117-003, Fall 2022 */

.logo {
    padding-left: 4em;
    padding-right: 1em;
}

footer {
    padding: 25px;
    align-items: center;
    text-align: center;
}

#etymotitle {
    padding-top: 1em;
    padding-bottom: 1em;
}

#frogbook {
    padding-bottom: 1em;
}