/* DEVELOPER Kapila Mane, IS117-003, Fall 2022 */

* {

}

html {
    background-color: white;
}

.navbar-nav {
    padding-right: 1em;
}

body {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
}

.logo {
    padding-left: 4em;
    padding-right: 1em;
}

.jumbotron {
    padding: 25em;
    text-align: center;
    align-items: center;
}

h1.welcome {
    color: white;
}
#userreviews {
    padding-top: 25px;
    align-items: center;
    text-align: center;
    background-color: #F6F2F1;
}

footer {
    padding: 25px;
    align-items: center;
    text-align: center;
}