/* DEVELOPER Kapila Mane, IS117-003, Fall 2022 */

.logo {
    padding-left: 4em;
    padding-right: 1em;
}

#top {
    padding-top: 1em;
    align-items: center;
    align-content: center;
}

footer {
    padding: 25px;
}